*.log
parse_tools/
__pycache__/
client/__pycache__
test/
.vscode/
./client/vscode/
client/dataset/__pycache__
client/loader/__pycache__

server/target/
server/log/
server/Cargo.lock
evaluation/target
evaluation/log/
evaluation/Cargo.lock
